@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-upmaroon: #7b1113;
  --color-upyellow: #ffad14;
  --color-upgreen: #014421;

  --font-tnr: "Times New Roman", serif;
  --font-arial: "Arial", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
